table {
    table-layout: auto;
    width: 120px;
    border: 1px solid rgb(5, 0, 0);
  }
  
  td {
    border: 1px solid rgb(3, 3, 155);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  tr {
    border: 1px solid rgb(3, 3, 155);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.tablebox1 {
   
}

.mainbox {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;

}

.body {
    text-align: center;
    text-emphasis: bold;
}